body {
    font-family: calibri, sans-serif;
		
 
	justify-content: center;
    align-items: center;
	
}
.mypara{
	font-family:calibri;
	font-size:20px;
	color:black;
	text-align:left;
	padding-top: 90px;
	padding-bottom:50px;
	padding-left:50px;
	padding-right:50px;
	
	
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
.mypara h1 {
	color : gray;
	font-size:40px;
}
.bakgrond {
    width: 100%;
    
    background-color: white;
    color: black;
	font-size: 30px;
	text-align: center;
}
.bakgrond img {
	width:30%;
	align-items:center;
 }
.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
}

.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}
.marquee-container {
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
        }
.marquee-content {
   display: inline-block;
   padding-left: 100%;
   animation: marquee 20s linear infinite;
   }
   @keyframes marquee {
	   from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(-100%);
            }
        }
		



.navbar {
            display: flex;
    background-color: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
	
            background-color: white;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0 20px;
            margin: 0px;
			position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
	height:90px;
			
        }
.navbar a {
            color: black;
            text-align: center;
            padding:10px 20px;
            text-decoration: none;
            font-size: 17px;
        }
.navbar a:hover {
            background-color: black;
            color: white;
        }
.logo {
            position: absolute;
			left:1px;
			
            display: flex;
            align-items: center;
        }
		.logo a:hover{
            background-color: white;
			filter: blur(2px);
        }
        .logo img {
            height: 80px; /* Adjust the height as needed */
			padding-top:10px;
			padding-bottom:10px; 
			  border-radius: 50%;
			
        }
        .navbar-center {
            display: flex;
            justify-content: center;
            flex-grow: 1;
        }
		
.myname{
	font-family: calibri;
	font-size: 20px;
	font-weight: bold;
	color: gray;
}
 
.date {
	color:black;
    font-size: 16px;
	text-align:right;
	padding-right:30px;
        }


.container {
            
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px; /* فاصله بین کارت‌ها */
           
            width: 100%;
		
			padding-top:50px;
			
        }

        .flip-card {
            width: 30vw; /* عرض هر کارت نسبت به عرض پنجره */
            height: 30vw; /* ارتفاع هر کارت نسبت به عرض پنجره */
            max-width: 400px; /* حداکثر عرض */
            max-height: 300px; /* حداکثر ارتفاع */
            border: none;
            position: relative;
            flex-grow: 1;
			align-items: center;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
			align-items: center;
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .flip-card-front {
        }

        .flip-card-back {
            transform: rotateY(180deg);
        }

 .flip-card-front img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
.flip-card-back img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
.front-text {
	text-align:center;
            position: relative;
            z-index: 1;
			color:orange;	
        }
.back-text {
	text-align:center;
            position: relative;
            z-index: 1;
			color:white;
        }
.rectangle {
            width: 400px;
            height: 300px;
            
            border-radius: 30px; /* میزان گردی گوشه‌ها */
			text-align:center;
			justify-content: center;
			 align-items: center;
			color:white;
			display: flex;
        }
.contact__form {
	
    padding: 1px;
	text-align:left;
  }


.contact__form-field {
  margin-bottom: 3px;
}

.contact__form-field-label {
  font-size: 20px;
  text-transform: uppercase;
  color: #444;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1px;
}

.contact__form-field-input {
  display: block;
  padding: 1px;
  width: 500px;
  border: 1px solid rgba(225, 225, 225, 1);
  font-size: 20px;
  resize: none;
  border-radius: 5px;	
  font-weight: 100;
  letter-spacing: 1px;
}

/* Code for Modern Browsers */
/* Code for WebKit, Blink, Edge */
/* Code for Internet Explorer 10-11 */
/* Code for Microsoft Edge */
/* Code for Mozilla Firefox 4 to 18 */
/* Code for Mozilla Firefox 19+ */


.contact__form-field-input::placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 20px;
}

.contact__form-field-input::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 20px;
}

.contact__form-field-input:-ms-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 20px;
}

.contact__form-field-input::-ms-input-placeholder {
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 20px;
}

.contact__form-field-input:-moz-placeholder {
  opacity: 1;
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 20px;
}

.contact__form-field-input::-moz-placeholder {
  opacity: 1;
  color: rgb(175, 175, 175);
  font-weight: 400;
  font-size: 20px;
}

.contact__form-field-input:focus {
  outline: none;
}

.contact__form-submit {
	text-align:center;
align-items:left;
  width: 50%;
  font-size: 20px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  background: rgba(var(--themeColor), 1);
  color: white;
  background-color:gray;
border-radius: 5px;
  cursor: pointer;
}
.contact__form-submit:hover {
    color: black;
	background-color:white;
}



.contact__form-visual {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  
}

@media (max-width: 37.5em) {
  .contact__form-visual {
    display: none;
  }
}

.contact__form-visual::after {
  content: '';
  position: right;
  z-index: 20;
  background: rgba(var(--themeColor), 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer{
		position: relative;
            background-color: black;
            align-items: center;
            padding: 20px;  

			text-align:center;
        }
.footer a{
	color:white;
	text-decoration: none;
padding-top:10px;
margin:0 10px;
	
}

.footercontainer{
	display:flex;
}

.copyright{
	padding-top:10px;
	padding-bottom:1px;
	font-size:10px;
	color:white;
	text-align:center;
}